{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'todolist.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('todolist_index') }}">{{ 'todolist.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    {{ include('back/todolist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('todolist_index') }}">{{ 'back_list'|trans }}</a>

    {{ include('back/todolist/_delete_form.html.twig') }}
{% endblock %}
