{% extends 'Back/base.html.twig' %}

{% block title %}{{ todolist.title }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('todolist_index') }}">{{ 'todolist.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'title'|trans }}</th>
                <td>{{ todolist.title }}</td>
            </tr>
            <tr>
                <th>{{ 'content'|trans }}</th>
                <td>{{ todolist.content }}</td>
            </tr>
            <tr>
                <th>{{ 'status'|trans }}</th>
                <td>
                    {% if todolist.status == 0 %}
                        {{ 'wip'|trans }}
                    {% elseif todolist.status == 1 %}
                        {{ 'todo'|trans }}
                    {% elseif todolist.status == 2 %}
                        {{ 'important'|trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'created_at'|trans }}</th>
                <td>{{ todolist.createdAt ? todolist.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'updated_at'|trans }}</th>
                <td>{{ todolist.updatedAt ? todolist.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('todolist_index') }}">{{ 'back_list'|trans }}</a>

    <a href="{{ path('todolist_edit', {'id': todolist.id}) }}">{{ 'todolist.edit'|trans }}</a>

    {{ include('back/todolist/_delete_form.html.twig') }}
{% endblock %}
