{% extends 'Back/base.html.twig' %}

{% block body %}

    <h1>Liste de chaînes</h1>

    <hr>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <td>{{ channel.id }}</td>
                <td>{{ channel.name }}</td>
                <td>{{ channel.image }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('channel_show', {'id': channel.id}) }}">
                        <i class="fas fa-fw fa-eye"></i>
                        Voir
                    </a>
                    <a class="btn btn-info btn-sm" href="{{ path('channel_edit', {'id': channel.id}) }}">
                        <i class="fas fa-fw fa-pen"></i>
                        Modifier
                    </a>
                    {{ include('Back/channel/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"> Aucune chaîne crée pour l'instant </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('channel_new') }}">
        <i class="fas fa-fw fa-plus"></i>
        Ajouter une chaîne
    </a>
{% endblock %}
