{% extends 'Back/base.html.twig' %}
{% block title %}{{  channel.name }}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('channel_index') }}">{{ 'channel.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

<table class="table table-bordered table-striped">
    <tbody>
    <tr>
        <th>Image</th>
        <td>{{ channel.image }}</td>
    </tr>
    <tr>
        <th>#</th>
        <td>{{ channel.id }}</td>
    </tr>
    <tr>
        <th>Nom</th>
        <td>{{ channel.name}}</td>
    </tr>
    </tbody>
</table>

    <h3 class="text-center">Liste des matchs diffusés</h3>

    <table class="table table-striped table-bordered" id="dataTable">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>{{ 'game.matchday'|trans }}</th>
            <th>{{ 'game.teamHome'|trans }}</th>
            <th>{{ 'game.teamAway'|trans }}</th>
            <th>{{ 'game.referee'|trans }}</th>
            <th>{{ 'game.competition'|trans }}</th>
            <th>{{ 'game.stadium'|trans }}</th>
            <th>{{ 'game.season'|trans }}</th>
            <th>{{ 'actions.name'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for game in channel.games %}
            <tr>
                <td>{{ game.matchday }}</td>
                <td>{{ game.teamHome.name }}</td>
                <td>{{ game.teamAway.name }}</td>
                <td>{{ game.referee.firstname }}</td>
                <td>{{ game.competition.name }}</td>
                <td>{{ game.stadium.name }}</td>
                <td>{{ game.season.seasonYear }}</td>

                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('game_show', {'id': game.id}) }}">
                        <i class="fas fa-fw fa-eye"></i>
                        {{ 'show'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'channel.nogames'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('channel_index') }}">
        <i class="fas fa-fw fa-undo"></i>
        Retourner a la liste
    </a>

    <a class="btn btn-info" href="{{ path('channel_edit', {'id': channel.id}) }}">
        <i class="fas fa-fw fa-pen"></i>
        Modifier
    </a>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-name="{{ channel.name }}" data-target="#delete-modal" data-action="{{ path('channel_delete' , {id:channel.id}) }}" data-crsf="{{ csrf_token('delete' ~ channel.id) }}">
        <i class="fa fa-trash"></i>&nbsp;&nbsp;Supprimer</span>
    </button>
{% endblock %}
