{% extends 'Back/base.html.twig' %}

{% block body %}
    <h1>channel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ channel.id }}</td>
            </tr>
            <tr>
                <th>Matchday</th>
                <td>{{ channel.matchday }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('channel_index') }}">back to list</a>

    <a href="{{ path('channel_edit', {'id': channel.id}) }}">edit</a>

    {{ include('Back/channel/_delete_form.html.twig') }}
{% endblock %}
