{% extends 'Back/base.html.twig' %}

{% block body %}
    <h1>{{ channel.name }}</h1>

   <p> {{ channel.image }} </p>

    <a class="btn btn-secondary" href="{{ path('channel_index') }}">Retourner a la liste</a>

    <br><br>

    <a class="btn btn-info" href="{{ path('channel_edit', {'id': channel.id}) }}">
        <i class="fas fa-fw fa-pen"></i>
        Modifier
    </a>

    <br><br>

    {{ include('Back/channel/_delete_form.html.twig') }}
{% endblock %}
