{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'season.list'|trans }}{% endblock %}

{% block body %}
    <a class="btn btn-success" href="{{ path('season_new') }}">
        <i class="fas fa-fw fa-plus"></i>
        {{ 'season.add'|trans }}
    </a>
    <hr>
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="dataTable">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Annee</th>
                <th>Date de création</th>
                <th>Date de mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>
                    <a href="{{ path('season_competition_index', {'season': season.id}) }}">{{ season.seasonYear }}</a>
                </td>
                <td>{{ season.createdAt ? season.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ season.updatedAt ? season.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('season_show', {'id': season.id}) }}">Afficher</a>
                    <a class="btn btn-info btn-sm" href="{{ path('season_edit', {'id': season.id}) }}">Editer</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune saison trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block javascripts %}

    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('back/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('back/vendor/datatables/dataTables.bootstrap4.js') }}"></script>

    <!-- Demo scripts for this page-->
    <script src="{{ asset('back/js/demo/datatables-demo.js') }}"></script>

{% endblock %}