{% extends 'Back/base.html.twig' %}

{% block title %}{{ season.seasonYear }}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Liste des compétitions</th>
                <td>
                    {% for competition in season.seasoncompetitions %}
                        <a href="{{ path('season_competition_index', {'season': season.id}) }}">{{ competition.competition.name }}</a> <br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('season_index') }}">{{ 'back_list'|trans }}</a>

    <a href="{{ path('season_edit', {'id': season.id}) }}">{{ 'actions.edit'|trans }}</a>

    {{ include('Back/season/_delete_form.html.twig') }}
{% endblock %}
