{% extends 'Back/base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <h1>MenuItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Icon</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu_item in menu_items %}
            <tr>
                <td>{{ menu_item.id }}</td>
                <td>{{ menu_item.name }}</td>
                <td>{{ menu_item.url }}</td>
                <td>{{ menu_item.icon }}</td>
                <td>{{ menu_item.color }}</td>
                <td>
                    <a href="{{ path('menu_item_show', {'id': menu_item.id}) }}">show</a>
                    <a href="{{ path('menu_item_edit', {'id': menu_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('menu_item_new') }}">Create new</a>
{% endblock %}
