{% extends 'Front/base.html.twig' %}

{% block title %}Liste des joueurs{% endblock %}

{% block body %}
    <!--// Main Content //-->
    <div class="kode-content">
        <div class="kode-subheader subheader-height">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Joueur</h1>
                    </div>
                    <div class="col-md-6">
                        <ul class="kode-breadcrumb">
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Liste des joueurs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader //-->
        <!--// Page Content //-->
        <section class="kode-pagesection">
            <div class="container">
                <div class="row">
                    <div class="kode-team-list">
                        <ul class="row">
                            {% for player in players.data %}
                            <li class="col-md-3 col-sm-6">
                                <figure>
                                    <a href="{{ path('player', {'id': player.id, 'slug': player.slug }) }}" class="kode-team-thumb">
                                        <img src="{{ vich_uploader_asset(player, 'imageFile')|default(asset('images/players/default.jpg')) }}" alt="">
                                    </a>
                                    <figcaption>
                                        <h2>
                                            <a href="{{ path('player', {'id': player.id, 'slug': player.slug }) }}">
                                                {{ player.firstname }} {{ player.lastname }}
                                            </a>
                                        </h2>
                                    </figcaption>
                                </figure>
                            </li>
                            {% else %}
                                <li>{{ 'nothing'|trans }}</li>
                            {% endfor %}
                            {{ players.display }}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--// Page Content //-->
    </div>
    <!--// Main Content //-->
{% endblock %}
{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $('.nav-item a').on('click', function (e) {

                $(".container").removeClass("show");
                $('.active.in').addClass("show");

                id = $(this).attr('href');

                console.log(id);

                $(".bar:first").is("#foo");

                if(!$('.tab-content .active.in').hasClass('show')){
                    $('.tab-content .active.in').addClass("show container tab-pane");
                }
            });
        });
    </script>
{% endblock %}