{% extends 'Back/base.html.twig' %}

{% block title %}Liste des articles{% endblock %}
{% block body %}
<a class="btn btn-success" href="{{ path('article_new') }}">
 <i class="fas fa-fw fa-plus"></i>
    Ajouter un nouvel article
</a>
<hr>
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="dataTable">
        <thead class="thead-dark">
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Featured</th>
                <th>Views</th>
                <th>Publié</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.featured ? 'Yes' : 'No' }}</td>
                <td>{{ article.views }}</td>
                <td>{{ article.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('article_show', {'id': article.id}) }}">Afficher</a>
                    <a class="btn btn-info btn-sm" href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">{{ 'article.nothing'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}

    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('back/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('back/vendor/datatables/dataTables.bootstrap4.js') }}"></script>

    <!-- Demo scripts for this page-->
    <script src="{{ asset('back/js/demo/datatables-demo.js') }}"></script>

{% endblock %}