{% extends 'Back/base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {% if article.namePhoto  %}
            <tr>
                <th>Image</th>
                <td><img height="200" src="{{ asset('photo/')~article.namePhoto }}" alt=""></td>
            </tr>
            <tr>
                <th>Source_image</th>
                <td>{{ article.sourceImage }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Featured</th>
                <td>{{ article.featured ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Views</th>
                <td>{{ article.views }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>
                    {% if article.type == 0 %}
                        {{ 'nopublished'|trans }}
                    {% elseif article.type == 1 %}
                        {{ 'published'|trans }}
                    {% elseif article.type == 1 %}
                        {{ 'draft'|trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Source_article</th>
                <td>{{ article.sourceArticle }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ article.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Player</th>
                <td>
                    {% for player in article.player %}
                        {{ player.firstname }} {{ player.lastname }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Club</th>
                <td>
                    {% for club in article.club %}
                        {{ club.name }} <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Match</th>
                <td>
                    {% for game in article.game %}
                        {{ game.name }} <br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">{{ 'back_list'|trans }}</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('Back/article/_delete_form.html.twig') }}
{% endblock %}
