{% extends 'Back/base.html.twig' %}

{% block title %}{{ club.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('club_index') }}">{{ 'club.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ club.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ club.name }}</td>
            </tr>
            <tr>
                <th>Abbreviation</th>
                <td>{{ club.abbreviation }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ club.image }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td><img src="https://www.countryflags.io/{{ club.country }}/flat/32.png"></td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ club.createdAt ? club.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ club.updatedAt ? club.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('club_index') }}">
        <i class="fas fa-fw fa-undo"></i>
        Retourner à la liste
    </a>

    <a class="btn btn-info" href="{{ path('club_edit', {'id': club.id}) }}">
        <i class="fas fa-fw fa-pen"></i>
        {{ 'edit'|trans }}
    </a>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-name="{{ club.name }}" data-target="#delete-modal" data-action="{{ path('club_delete' , {id:club.id}) }}" data-crsf="{{ csrf_token('delete' ~ club.id) }}">
        <i class="fa fa-trash"></i>&nbsp;&nbsp;{{ 'delete'|trans }}</span>
    </button>
{% endblock %}
