{% extends 'Back/base.html.twig' %}
{% block title %}{{ game.teamHome.name }} - {{ game.teamAway.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('game_index') }}">{{ 'game.name'|trans }}</a>
    </li>
{% endblock %}
{% block body %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>{{ 'game.matchday'|trans }}</th>
                <td>{{ game.matchday }}</td>
            </tr>
            <tr>
                <th>{{ 'game.teamHome'|trans }}</th>
                <td>{{ game.teamHome.name }}</td>
            </tr>
            <tr>
                <th>{{ 'game.teamAway'|trans }}</th>
                <td>{{ game.teamAway.name }}</td>
            </tr>
            <tr>
                <th>{{ 'game.referee'|trans }}</th>
                <td><a href="{{ path('player_show', {'id': game.referee.id}) }}">{{ game.referee.firstname }} {{ game.referee.lastname }}</a></td>
            </tr>
            <tr>
                <th>{{ 'game.competition'|trans }}</th>
                <td><a href="{{ path('competition_show', {'id': game.competition.id}) }}">{{ game.competition.name }}</a></td>
            </tr>
            <tr>
                <th>{{ 'game.stadium'|trans }}</th>
                <td>{{ game.stadium.name }}</td>
            </tr>
            <tr>
                <th>{{ 'game.season'|trans }}</th>
                <td>{{ game.season.seasonYear }}</td>
            </tr>
            <tr>
                <th>{{ 'game.date'|trans }}</th>
                <td>{{ game.date ? game.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <h3 class="text-center">Liste des joueurs</h3>

    <hr>

    <table class="table table-striped table-bordered" id="dataTable">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>{{ 'player.name'|trans }}</th>
                <th>{{ 'player.nationality'|trans }}</th>
                <th>{{ 'actions.name'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for player in game.players %}
            <tr>
                <th>{{ player.id }}</th>
                <td>{{ player.firstname }} {{ player.lastname }}</td>
                <td><img src="https://www.countryflags.io/{{ player.nationality }}/flat/32.png"></td>
                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('player_show', {'id': player.id}) }}">
                        {{ 'actions.show'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'game.noplayers'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3 class="text-center">Liste des chaînes</h3>

    <hr>

    <table class="table table-striped table-bordered" id="dataTable">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>{{ 'channel.name'|trans }}</th>
            <th>{{ 'actions.name'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for channel in game.channel %}
            <tr>
                <th>{{ channel.id }}</th>
                <td>{{ channel.name }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('channel_show', {'id': channel.id}) }}">
                        {{ 'actions.show'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'game.nochannel'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('game_index') }}">
        <i class="fas fa-fw fa-undo"></i>
        {{ 'back_list'|trans }}
    </a>

    <a class="btn btn-info" href="{{ path('game_edit', {'id': game.id}) }}">
        <i class="fas fa-fw fa-pen"></i>
        {{ 'game.edit'|trans }}
    </a>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-name="{{ game.name }}" data-target="#delete-modal" data-action="{{ path('game_delete' , {id:game.id}) }}" data-crsf="{{ csrf_token('delete' ~ game.id) }}">
        <i class="fas fa-fw fa-trash"></i>
        Supprimer
    </button>
{% endblock %}
