{% extends 'Back/base.html.twig' %}

{% block body %}
    <h1>Match {{ game.id }} </h1>

    <hr>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Jour de match</th>
                <td>{{ game.matchday }}</td>
            </tr>
            <tr>
                <th>Equipe domicile</th>
                <td>{{ game.teamHome.name }}</td>
            </tr>
            <tr>
                <th>Equipe exterieur</th>
                <td>{{ game.teamAway.name }}</td>
            </tr>
            <tr>
                <th>Arbitre</th>
                <td>{{ game.referee.firstname }} {{ game.referee.lastname }}</td>
            </tr>
            <tr>
                <th>Competition</th>
                <td>{{ game.competition.name }}</td>
            </tr>
            <tr>
                <th>Stade</th>
                <td>{{ game.stadium.name }}</td>
            </tr>
            <tr>
                <th>Saison</th>
                <td>{{ game.season.seasonYear }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('game_index') }}">
        Retourner a la liste
    </a>

    <br><br>

    <a class="btn btn-info" href="{{ path('game_edit', {'id': game.id}) }}">
        Modifier
    </a>

    <br><br>

    {{ include('Back/game/_delete_form.html.twig') }}
{% endblock %}
