
<!--// NewsLatter //-->

<div class="clearfix clear"></div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header thbg-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Login To Your Account</h4>
            </div>
            <div class="modal-body">
                <form action="{{ path('user_login') }}" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="_username" id="email" value="" class="form-control" placeholder="Adresse email..." required>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="_password" id="password" placeholder="Mot de passe..." class="form-control" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalTwo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header thbg-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">S'inscrire</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<footer id="footer1" class="kode-parallax kode-dark-overlay kode-bg-pattern">
    <!--// Contact Footer //-->
    <div class="kode-bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© {{ "now"|date("Y") }} {{ name }}</p>
                </div>
                <div class="col-md-6">
                    <a href="#" id="kode-topbtn" class="thbg-colortwo"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>