{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-{{ class }}">
    <i class="fas fa-fw fa-{{ icon }}"></i>
    {{ button_name }}
</button>

<a style="margin-top: 20px" class="btn btn-secondary" href="{{ path('partnership_index') }}">
    {{ 'cancel'|trans }}
</a>

{{ form_end(form) }}
