{% extends 'Back/base.html.twig' %}

{% block title %}Liste des partenaires{% endblock %}

{% block body %}
    <a class="btn btn-success" href="{{ path('partnership_new') }}">
        <i class="fas fa-fw fa-plus"></i>
        Ajouter un partenaire
    </a>
    <hr>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partnership in partnerships %}
            <tr>
                <td>{{ partnership.id }}</td>
                <td>{{ partnership.name }}</td>
                <td>{{ partnership.description }}</td>
                <td>{{ partnership.image }}</td>
                <td>{{ partnership.link }}</td>
                <td>
                    <a href="{{ path('partnership_show', {'id': partnership.id}) }}">show</a>
                    <a href="{{ path('partnership_edit', {'id': partnership.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}

    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('back/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('back/vendor/datatables/dataTables.bootstrap4.js') }}"></script>

    <!-- Demo scripts for this page-->
    <script src="{{ asset('back/js/demo/datatables-demo.js') }}"></script>

{% endblock %}