{% extends 'Back/base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('event_index') }}">{{ 'event.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ event.status }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de participant max</th>
                <td>{{ event.maxParticipant }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de mise à jour</th>
                <td>{{ event.updatedAt ? event.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <h3 class="text-center">Liste des participants</h3>

    <hr>

    <table class="table table-striped table-bordered" id="dataTable">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nom Prenom</th>
            <th>Login</th>
            <th>Email</th>
            <th>{{ 'actions.name'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in event.organizers %}
            <tr>
                <th>{{ user.id }}</th>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('user_show', {'id': user.id}) }}">
                        {{ 'actions.show'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun participant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('event_index') }}">
        <i class="fas fa-fw fa-undo"></i>
        Retourner a la liste
    </a>

    <a class="btn btn-info" href="{{ path('event_edit', {'id': event.id}) }}">
        <i class="fas fa-fw fa-pen"></i>
        {{ 'edit'|trans }}
    </a>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-name="{{ event.title }}" data-target="#delete-modal" data-action="{{ path('event_delete' , {id:event.id}) }}" data-crsf="{{ csrf_token('delete' ~ event.id) }}">
        <i class="fa fa-trash"></i>&nbsp;&nbsp;{{ 'delete'|trans }}</span>
    </button>
{% endblock %}
