{% extends 'Back/base.html.twig' %}

{% block title %}Equipe {{ season.seasonyear }} - {{ club.name }} {% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css">
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Effectif - {{ club.name }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            {% if (player.date <= firstYear and player.endContract >= firstYear) or (player.date >= firstYear and player.date <= lastYear) %}
                <tr>
                    <td>
                        <a href="{{ path('player_show', {'id': player.player.id}) }}">{{ player.player.firstname }} {{ player.player.lastname }}
                        </a>
                        {% if player.type == 1 %}(Prêté par {{ player.oldTeam.name }}){% endif %}
                    </td>
                    <td>
                        <a href="{{ path('player_edit', {'id': player.player.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
{% endblock %}