{% extends 'Front/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <!--// Wrapper //-->
    <div class="kode-wrapper">
        <header id="mainheader" class="kode-header-absolute">
            <!--// TopBaar //-->
            <div class="kode-topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 kode_bg_white">
                            <ul class="top_slider_bxslider">
                                <li><span class="kode-barinfo"><strong>Latest News : </strong> Lorem ipsum dolor sit amet, cons ecte tuer adipiscing elit,</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="kode-userinfo">
                                {% if app.user %}
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" id="accountDropdownLink" data-toggle="dropdown">
                                            <i class="fa fa-user"></i> {{ app.user.username }}
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                                            <a href="#" class="dropdown-item">Mon compte</a>
                                            <a href="#" class="dropdown-item">Modifier mon profil</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="{{ path('user_logout') }}" class="dropdown-item">Deconnexion</a>
                                        </div>
                                    </li>
                                {% else %}
                                    <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in"></i> Login</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModalTwo"><i class="fa fa-user-plus"></i> Register</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!--// Main Banner //-->
        <div id="mainbanner">
            <div class="flexslider">
                <ul class="slides">
                    {% for feature in featured %}
                    <li>
                        <img src="http://lmdpsg.diegowaziri.fr/ckfinder/userfiles/files/newdefault.jpg" alt="" />
                        <div class="container">
                            <div class="kode-caption">
                                <h2>{{ feature.title }}</h2>
                                <div class="clearfix"></div>
                                <p>{{ feature.resume }}</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--// Main Banner //-->

        <!--// Main Content //-->
        <div class="kode-content">
            <!-- <section class="pick-event padding-30-topbottom margin-top-minus-40">
    <div class="container">
    <div class="heading">
    <h2>Search Match</h2>
    </div>
    <div class="form">
    <div class="cover">
    <input type="text">
    <i class="fa fa-search"></i>
    </div>
    <div class="cover">
    <input type="text">
    <i class="fa fa-calendar"></i>
    </div>
    <div class="cover">
    <div class="dropdown">
    <button aria-expanded="true" data-toggle="dropdown" id="dropdownMenu1" type="button" class="dropdown-toggle">
    Dropdown
    <i class="fa fa-bars"></i>
    </button>
    <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
    </ul>
    </div>
    </div>
    <div class="cover">
    <a class="kode-modren-btn thbg-colortwo">Find Event</a>
    </div>
    </div>
    </div>
            </section> -->
            <!--// Page Content //-->
            <section class="kode-pagesection kode-parallax margin-bottom-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading heading-12 margin-top-bottom-30">
                                <p>Is Your Team Ready For Next Match!</p>
                                <h2 class="color-white"><span class="left"></span>Les dernières news<span class="right"></span></h2>
                            </div>

                            <div class="kode-blog-list kode-large-blog">
                                <ul class="row">
                                    {% for last in lastestNews %}
                                    <li class="col-md-4">
                                        <div class="card">
                                            <img class="card-img-top" src="http://lmdpsg.diegowaziri.fr/ckfinder/userfiles/files/newdefault.jpg" alt="{{ last.title }}">
                                            <time datetime="{{ last.date|date('d/m/Y à H:i') }}">{{ last.date|date('Y-m-d H:i') }}</time>
                                            <div class="card-body">
                                                <h3 class="card-title">
                                                    <a href="{{ path('article', { 'slug': last.slug }) }}">{{ last.title }}</a>
                                                </h3>
                                                <p class="card-text">{{ last.resume }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="kode-align-btn"><a href="#" class="kode-modren-btn thbg-colortwo">View More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--// Page Content //-->
            <section class="kode-pagesection kode-next-match-section kode-parallax active margin-top-bottom-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading heading-12 margin-top5-bottom10-flat">
                                <p>Is Your Team Ready For Next Match!</p>
                                <h2><span class="left"></span>Next Match Started In<span class="right"></span></h2>
                            </div>
                            <div class="kode-fixer-counter">
                                <div id="kodeCountdown"></div>
                            </div>
                            <div class="kode-team-match">
                                <ul>
                                    <li><a href="#"><img src="extra-images/fixer-logo1.png" alt=""></a></li>
                                    <li class="home-kode-vs"><a href="#" class="kode-modren-btn thbg-colortwo">vs</a></li>
                                    <li><a href="#"><img src="extra-images/fixer-logo2.png" alt=""></a></li>
                                </ul>
                                <div class="clearfix"></div>
                                <span class="kode-subtitle">Cycle Racing, Hockey May 18, 2015 14:30 - 16:00 CAMBRIDGESHIRE-UK</span>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="kode-pagesection kode-parallax margin-top-bottom-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading heading-12 margin-top-bottom-30">
                                <h2 class="color-white"><span class="left"></span>Les Transferts<span class="right"></span></h2>
                            </div>
                            <div class="kode-blog-list kode-large-blog">
                                <div class="owl-carousel-team owl-theme kode-team-list next-prev-style">
                                    {% for mercato in mercatoNews %}
                                    <div class="card">
                                        <img class="card-img-top" src="http://lmdpsg.diegowaziri.fr/ckfinder/userfiles/files/newdefault.jpg" alt="{{ mercato.title }}">
                                        <time datetime="{{ mercato.date|date('d/m/Y à H:i') }}">{{ mercato.date|date('Y-m-d H:i') }}</time>
                                        <div class="card-body">
                                            <h3 class="card-title">
                                                <a href="{{ path('article', { 'slug': mercato.slug }) }}">{{ mercato.title }}</a>
                                            </h3>
                                            <p class="card-text">{{ mercato.resume }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="kode-align-btn"><a href="#" class="kode-modren-btn thbg-colortwo">View More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--// Page Content //-->
            <div class="kd-pagesection project_fact_inline margin-top-bottom-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!--// Counter Section //-->
                            <div class="kd-counter">
                                <ul class="row">
                                    <li class="col-md-3">
                                        <i class="fa fa-soccer-ball-o fa-3x"></i>
                                        <span class="word-count">3586</span>
                                        <small>League Goals</small>
                                    </li>
                                    <li class="col-md-3">
                                        <i class="fa fa-users fa-3x"></i>
                                        <span class="word-count">206</span>
                                        <small>League Players</small>
                                    </li>
                                    <li class="col-md-3">
                                        <i class="fa fa-flag fa-3x"></i>
                                        <span class="word-count">356</span>
                                        <small>League Teams</small>
                                    </li>
                                    <li class="col-md-3">
                                        <i class="fa fa-trophy fa-3x"></i>
                                        <span class="word-count">57</span>
                                        <small>League Awards</small>
                                    </li>
                                </ul>
                            </div>
                            <!--// Counter Section //-->
                        </div>
                    </div>
                </div>
            </div>

            <section class="kode-pagesection kode-parallax margin-top-bottom-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading heading-12 margin-top-bottom-30">
                                <h2 class="color-white"><span class="left"></span>Les Dossiers<span class="right"></span></h2>
                            </div>
                            <div class="kode-blog-list kode-large-blog">
                                <div class="owl-carousel-team owl-theme kode-team-list next-prev-style">
                                    {% for mercato in mercatoNews %}
                                        <div class="card">
                                            <img class="card-img-top" src="http://lmdpsg.diegowaziri.fr/ckfinder/userfiles/files/newdefault.jpg" alt="{{ mercato.title }}">
                                            <time datetime="{{ mercato.date|date('d/m/Y à H:i') }}">{{ mercato.date|date('Y-m-d H:i') }}</time>
                                            <div class="card-body">
                                                <h3 class="card-title">
                                                    <a href="{{ path('article', { 'slug': mercato.slug }) }}">{{ mercato.title }}</a>
                                                </h3>
                                                <p class="card-text">{{ mercato.resume }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="kode-align-btn"><a href="#" class="kode-modren-btn thbg-colortwo">View More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--// NewsLatter //-->
            <div class="kode-newslatter kode-bg-color" >
                <span class="kode-halfbg thbg-color"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Subscribe Our Monthly Newsletter</h3>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <input type="text" placeholder="Your E-mail Adress" name="s" required>
                                <label><input type="submit" value=""></label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Page Content //-->
            <section class="kode-pagesection top_player_section" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading heading-12 margin-top-bottom-30">
                                <h2 class="color-white"><span class="left"></span>Les vidéos<span class="right"></span></h2>
                            </div>
                            <div class="owl-carousel-team owl-theme kode-team-list next-prev-style">
                                {% for mercato in mercatoNews %}
                                    <div class="card">
                                        <img class="card-img-top" src="http://lmdpsg.diegowaziri.fr/ckfinder/userfiles/files/newdefault.jpg" alt="{{ mercato.title }}">
                                        <time datetime="{{ mercato.date|date('d/m/Y à H:i') }}">{{ mercato.date|date('Y-m-d H:i') }}</time>
                                        <div class="card-body">
                                            <h3 class="card-title">
                                                <a href="{{ path('article', { 'slug': mercato.slug }) }}">{{ mercato.title }}</a>
                                            </h3>
                                            <p class="card-text">{{ mercato.resume }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="kode-align-btn"><a href="#" class="kode-modren-btn thbg-colortwo">View More</a></div>
                        </div>
                    </div>
                </div>
            </section>
            <!--// Page Content //-->

            <!--// Page Content //-->
            <section class="kode-pagesection top_player_section" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading heading-12 margin-top-bottom-30">
                                <h2 class="color-white">
                                    <span class="left"></span>Nos partenaires<span class="right"></span>
                                </h2>
                            </div>
                            <div class="owl-carousel-team owl-theme kode-team-list next-prev-style kode-partner">
                                {% for partner in partners %}
                                    <div class="col">
                                        <a href="http://{{ partner.link }}"><img src="extra-images/partner-logo2.jpg" alt="{{ partner.name }}"></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--// Page Content //-->
        </div>
        <!--// Main Content //-->

        <!--// NewsLatter //-->

        <div class="clearfix clear"></div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header thbg-color">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Login To Your Account</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ path('user_login') }}" method="post">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="_username" id="email" value="" class="form-control" placeholder="Adresse email..." required>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" name="_password" id="password" placeholder="Mot de passe..." class="form-control" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Connexion</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModalTwo" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header thbg-color">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Register</h4>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-success">S'inscrire</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

{% block javascripts %}

{% endblock %}