{% extends 'Front/base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <!--// Wrapper //-->
    <div class="kode-wrapper">
        <!--// Main Banner //-->
        <div id="mainbanner">
            <div class="flexslider">
                <ul class="slides">
                    {% for feature in featured %}
                    <li>
                        <img src="http://lmdpsg.diegowaziri.fr/ckfinder/userfiles/files/newdefault.jpg" alt="" />
                        <div class="container">
                            <div class="kode-caption">
                                <h2><a href="{{ path('article', { 'slug': feature.slug }) }}">{{ feature.title }}</a></h2>
                                <div class="clearfix"></div>
                                <p>{{ feature.resume }}</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--// Main Banner //-->

        <!--// Main Content //-->
        <div class="kode-content">
            <!-- <section class="pick-event padding-30-topbottom margin-top-minus-40">
    <div class="container">
    <div class="heading">
    <h2>Search Match</h2>
    </div>
    <div class="form">
    <div class="cover">
    <input type="text">
    <i class="fa fa-search"></i>
    </div>
    <div class="cover">
    <input type="text">
    <i class="fa fa-calendar"></i>
    </div>
    <div class="cover">
    <div class="dropdown">
    <button aria-expanded="true" data-toggle="dropdown" id="dropdownMenu1" type="button" class="dropdown-toggle">
    Dropdown
    <i class="fa fa-bars"></i>
    </button>
    <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
    </ul>
    </div>
    </div>
    <div class="cover">
    <a class="kode-modren-btn thbg-colortwo">Find Event</a>
    </div>
    </div>
    </div>
            </section> -->
            <!--// Page Content //-->
            <section class="kode-pagesection kode-parallax margin-bottom-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading heading-12 margin-top-bottom-30">
                                <p>Is Your Team Ready For Next Match!</p>
                                <h2 class="color-white"><span class="left"></span>Les dernières news<span class="right"></span></h2>
                            </div>

                            <div class="kode-blog-list kode-large-blog">
                                <ul class="row">
                                    {% for last in lastestNews %}
                                    <li class="col-md-4">
                                        <div class="card">
                                            <img class="card-img-top" src="http://lmdpsg.diegowaziri.fr/ckfinder/userfiles/files/newdefault.jpg" alt="{{ last.title }}">
                                            <time datetime="{{ last.date|date('d/m/Y à H:i') }}">{{ last.date|date('Y-m-d H:i') }}</time>
                                            <div class="card-body">
                                                <h3 class="card-title">
                                                    <a href="{{ path('article', { 'slug': last.slug }) }}">{{ last.title }}</a>
                                                </h3>
                                                <p class="card-text">{{ last.resume }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="kode-align-btn"><a href="#" class="kode-modren-btn thbg-colortwo">View More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--// Page Content //-->

            {{ render(controller('App\\Controller\\Front\\DefaultController::game')) }}

            <section class="kode-pagesection kode-parallax margin-top-bottom-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading heading-12 margin-top-bottom-30">
                                <h2 class="color-white"><span class="left"></span>Les Transferts<span class="right"></span></h2>
                            </div>
                            <div class="kode-blog-list kode-large-blog">
                                <div class="owl-carousel-team owl-theme kode-team-list next-prev-style">
                                    {% for mercato in mercatoNews %}
                                    <div class="card">
                                        <img class="card-img-top" src="http://lmdpsg.diegowaziri.fr/ckfinder/userfiles/files/newdefault.jpg" alt="{{ mercato.title }}">
                                        <time datetime="{{ mercato.date|date('d/m/Y à H:i') }}">{{ mercato.date|date('Y-m-d H:i') }}</time>
                                        <div class="card-body">
                                            <h3 class="card-title">
                                                <a href="{{ path('article', { 'slug': mercato.slug }) }}">{{ mercato.title }}</a>
                                            </h3>
                                            <p class="card-text">{{ mercato.resume }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="kode-align-btn"><a href="#" class="kode-modren-btn thbg-colortwo">View More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {{ render(controller('App\\Controller\\Front\\DefaultController::timer')) }}
            <!--// Page Content //-->


            <section class="kode-pagesection kode-parallax margin-top-bottom-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading heading-12 margin-top-bottom-30">
                                <h2 class="color-white"><span class="left"></span>Les Dossiers<span class="right"></span></h2>
                            </div>
                            <div class="kode-blog-list kode-large-blog">
                                <div class="owl-carousel-team owl-theme kode-team-list next-prev-style">
                                    {% for mercato in mercatoNews %}
                                        <div class="card">
                                            <img class="card-img-top" src="http://lmdpsg.diegowaziri.fr/ckfinder/userfiles/files/newdefault.jpg" alt="{{ mercato.title }}">
                                            <time datetime="{{ mercato.date|date('d/m/Y à H:i') }}">{{ mercato.date|date('Y-m-d H:i') }}</time>
                                            <div class="card-body">
                                                <h3 class="card-title">
                                                    <a href="{{ path('article', { 'slug': mercato.slug }) }}">{{ mercato.title }}</a>
                                                </h3>
                                                <p class="card-text">{{ mercato.resume }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="kode-align-btn"><a href="#" class="kode-modren-btn thbg-colortwo">View More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--// NewsLatter //-->
            <div class="kode-newslatter kode-bg-color" >
                <span class="kode-halfbg thbg-color"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Subscribe Our Monthly Newsletter</h3>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <input type="text" placeholder="Your E-mail Adress" name="s" required>
                                <label><input type="submit" value=""></label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Page Content //-->
            <section class="kode-pagesection top_player_section" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading heading-12 margin-top-bottom-30">
                                <h2 class="color-white"><span class="left"></span>Les vidéos<span class="right"></span></h2>
                            </div>
                            <div class="owl-carousel-team owl-theme kode-team-list next-prev-style">
                                {% for mercato in mercatoNews %}
                                    <div class="card">
                                        <img class="card-img-top" src="http://lmdpsg.diegowaziri.fr/ckfinder/userfiles/files/newdefault.jpg" alt="{{ mercato.title }}">
                                        <time datetime="{{ mercato.date|date('d/m/Y à H:i') }}">{{ mercato.date|date('Y-m-d H:i') }}</time>
                                        <div class="card-body">
                                            <h3 class="card-title">
                                                <a href="{{ path('article', { 'slug': mercato.slug }) }}">{{ mercato.title }}</a>
                                            </h3>
                                            <p class="card-text">{{ mercato.resume }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="kode-align-btn"><a href="#" class="kode-modren-btn thbg-colortwo">View More</a></div>
                        </div>
                    </div>
                </div>
            </section>
            <!--// Page Content //-->

            <!--// Page Content //-->
            <section class="kode-pagesection top_player_section" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading heading-12 margin-top-bottom-30">
                                <h2 class="color-white">
                                    <span class="left"></span>Nos partenaires<span class="right"></span>
                                </h2>
                            </div>
                            <div class="owl-carousel-team owl-theme kode-team-list next-prev-style kode-partner">
                                {% for partner in partners %}
                                    <div class="col">
                                        <a href="http://{{ partner.link }}"><img src="extra-images/partner-logo2.jpg" alt="{{ partner.name }}"></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--// Page Content //-->
        </div>
        <!--// Main Content //-->
        {% endblock %}

{% block javascripts %}

{% endblock %}