{% extends 'Back/base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <a class="btn btn-success" href="{{ path('user_new') }}">
        <i class="fas fa-fw fa-plus"></i>
        Ajouter un utilisateur
    </a>
    <hr>

    <table class="table table-striped table-bordered" id="dataTable">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Login</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('user_show', {'id': user.id}) }}">{{ 'show'|trans }}</a>
                    <a class="btn btn-info btn-sm" href="{{ path('user_edit', {'id': user.id}) }}"> {{ 'edit'|trans }}</a>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-name="{{ user.firstname }} {{ user.lastname }}" data-target="#delete-modal" data-action="{{ path('user_delete' , {id:user.id}) }}" data-crsf="{{ csrf_token('delete' ~ user.id) }}">
                        {{ 'delete'|trans }}
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'user.nothing'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
