{% extends 'Back/base.html.twig' %}
{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Confederation index</h1>

    <table class="table table-striped table-bordered" id="dataTable">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Continent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for confederation in confederations %}
            <tr>
                <td>{{ confederation.id }}</td>
                <td>{{ confederation.name }}</td>
                <td>{{ confederation.continent }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('confederation_show', {'id': confederation.id}) }}">
                        {{ 'show'|trans }}
                    </a>
                    <a class="btn btn-info btn-sm" href="{{ path('confederation_edit', {'id': confederation.id}) }}">
                        {{ 'edit'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'confederation.nothing'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('confederation_new') }}">Create new</a>
{% endblock %}
