{% extends 'Back/base.html.twig' %}
{% block title %}{{ 'confederation.list'|trans }}{% endblock %}


{% block body %}

    <a class="btn btn-success" href="{{ path('confederation_new') }}">
        <i class="fas fa-fw fa-plus"></i>
        {{ 'confederation.add'|trans }}
    </a>
    <hr>

    <table class="table table-striped table-bordered" id="dataTable">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Continent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for confederation in confederations %}
            <tr>
                <td>{{ confederation.id }}</td>
                <td>{{ confederation.name }}</td>
                <td>{{ confederation.getContinentName() }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('confederation_show', {'id': confederation.id}) }}">
                        {{ 'show'|trans }}
                    </a>
                    <a class="btn btn-info btn-sm" href="{{ path('confederation_edit', {'id': confederation.id}) }}">
                        {{ 'edit'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'confederation.nothing'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
