{% extends 'Back/base.html.twig' %}

{% block title %}{{ team.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('team_index') }}">{{ 'team.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>
                    {% if team.section == 0 %}
                        {{ 'men'|trans }}
                    {% elseif team.section == 1 %}
                        {{ 'women'|trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ team.createdAt ? team.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ team.updatedAt ? team.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Archived</th>
                <td>{{ team.archived ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('team_index') }}">
        <i class="fas fa-fw fa-undo"></i>
        Retourner a la liste
    </a>

    <a class="btn btn-info" href="{{ path('team_edit', {'id': team.id}) }}">
        <i class="fas fa-fw fa-pen"></i>
        Modifier
    </a>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-name="{{ team.name }}" data-target="#delete-modal" data-action="{{ path('team_delete' , {id:team.id}) }}" data-crsf="{{ csrf_token('delete' ~ team.id) }}">
        <i class="fa fa-trash"></i>&nbsp;&nbsp;Supprimer</span>
    </button>
{% endblock %}
