{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'team.list'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('season_competition_index' , {'season': season.id, 'id': seasoncompetition.id}) }}">{{ 'season.name'|trans }} {{ season.seasonYear }} </a>
    </li>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css">
{% endblock %}

{% block body %}

    <table class="table table-striped table-bordered" id="dataTable">
        <thead class="thead-dark">
            <tr>
                <th>Equipe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td><a href="{{ path('season_team', {'season': season.id, 'id': team.id}) }}">{{ team.name }}</a></td>
                <td>
                    <a href="{{ path('season_competition_team_index', {'season': season.id, 'competition': seasoncompetition.id, 'id': team.id}) }}">{{ 'show'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'season_competition_team.nothing'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('season_competition_edit', {'season': season.id, 'id': seasoncompetition.id}) }}">edit compétition</a>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
    <script>
        $(document).ready(function() {
            $('#season_competition_teams').selectize({
                maxItems: 30
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}