{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'config.edit'|trans }}{% endblock %}

{% block body %}

    {{ include('Back/configuration/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('configuration_index') }}">{{ 'back_list'|trans }}</a>

    {{ include('Back/configuration/_delete_form.html.twig') }}
{% endblock %}
