{% extends 'Back/base.html.twig' %}

{% block title %}{{ configuration.nameConfig }}{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'config.setValue'|trans }}</th>
                <td>{{ configuration.nameConfig }}</td>
            </tr>
            <tr>
                <th>{{ 'config.value'|trans }}</th>
                <td>{{ configuration.valueConfig }}</td>
            </tr>
            <tr>
                <th>{{ 'type'|trans }}</th>
                <td>
                    {% if configuration.type == 0 %}
                        {{ 'website'|trans }}
                    {% elseif configuration.type == 1 %}
                        {{ 'social'|trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'created_at'|trans }}</th>
                <td>{{ configuration.createdAt ? configuration.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'updated_at'|trans }}</th>
                <td>{{ configuration.updatedAt ? configuration.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('configuration_index') }}">{{ 'back_list'|trans }}</a>

    <a href="{{ path('configuration_edit', {'id': configuration.id}) }}">edit</a>

    {{ include('Back/configuration/_delete_form.html.twig') }}
{% endblock %}
