<!DOCTYPE html>
<html lang="fr">
<head>
    {{ render(controller('App\\Controller\\Front\\DefaultController::head')) }}
</head>
<body>
    <div class="kode-wrapper">
        <!--// HEADER //-->
        {{ render(controller('App\\Controller\\Front\\DefaultController::menu')) }}
        {% block body %}{% endblock %}
        <!--// FOOTER //-->
        {{ render(controller('App\\Controller\\Front\\DefaultController::footer')) }}
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset('front/js/jquery.js') }}"></script>
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery.flexslider.js') }}"></script>
    <script src="{{ asset('front/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery.countdown.js') }}"></script>
    <script src="{{ asset('front/js/waypoints-min.js') }}"></script>
    <script src="{{ asset('front/js/jquery.bxslider.min.js') }}"></script>
    <script src="{{ asset('front/js/bootstrap-progressbar.js') }}"></script>
    <script src="{{ asset('front/js/jquery.accordion.js') }}"></script>
    <script src="{{ asset('front/js/jquery.circlechart.js') }}"></script>
    <script src="{{ asset('front/js/jquery.prettyphoto.js') }}"></script>
    <script src="{{ asset('front/js/kode_pp.js') }}"></script>
    <script src="{{ asset('front/js/functions.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>