{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'player.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('player_index') }}">{{ 'player.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    {{ include('Back/player/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('player_index') }}">{{ 'back_list'|trans }}</a>

    {{ include('Back/player/_delete_form.html.twig') }}
{% endblock %}
