{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'player.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('player_index') }}">{{ 'player.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    {% if player.imageName %}
        <img src="{{ vich_uploader_asset(player, 'imageFile') }}" alt="image" width="200">
    {% endif %}

    {{ include('Back/player/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('player_index') }}">{{ 'back_list'|trans }}</a>

    {{ include('Back/player/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-playerMercatos').click(function(){
            //Je récupère le numéro des futurs champs que je vais créer
            const index = +$('#widgets-counter').val();

            //Je récupère le prototype des entrées
            const tmpl = $('#player_playerMercatos').data('prototype').replace(/__name__/g, index);

            //J'injecte ce code au sein de la div
            $('#player_playerMercatos').append(tmpl);

            $('#widgets-counter').val(index + 1)

            //Je gère le bouton supprimer
            handleDeleteButtons();

        });

        function handleDeleteButtons(){
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            });
        }

        function updateCounter(){
            const count = +$('#ad_images div.form-group').length;
            $('#widgets-counter').val(count);
        }

        updateCounter();
        handleDeleteButtons();
    </script>

{% endblock %}
