{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'player.list'|trans }}{% endblock %}

{% block body %}
    <a class="btn btn-success" href="{{ path('player_new') }}">
        <i class="fas fa-fw fa-plus"></i>
        {{ 'player.add'|trans }}
    </a>
    <hr>
    <div class="row">
        {% for player in pagination.data %}
            <div class="col-sm-4">
                <div class="card mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="{{ vich_uploader_asset(player, 'imageFile')|default(asset('images/players/default.jpg')) }}" alt="{{ player.firstname }} {{ player.lastname }}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('player_show', {'id': player.id}) }}">{{ player.firstname }} {{ player.lastname }}</a> <img src="https://www.countryflags.io/{{ player.nationality }}/flat/32.png"></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Né le {{ player.dateBirth ? player.dateBirth|date('d-m-Y') : '' }} à {{ player.cityBirth }}</li>
                        <li class="list-group-item">
                            {% if player.foot == 0 %}
                                {{ 'player.foot.right'|trans }}
                            {% elseif player.foot == 1 %}
                                {{ 'player.foot.left'|trans }}
                            {% elseif player.foot == 2 %}
                                {{ 'player.foot.both'|trans }}
                            {% endif %}
                        </li>
                    </ul>
                    <div class="card-body">
                        <a class="btn btn-success btn-sm" href="{{ path('player', {'id': player.id, 'slug': player.slug }) }}">
                            {{ 'actions.show'|trans }}
                        </a>
                        <a class="btn btn-info btn-sm" href="{{ path('player_edit', {'id': player.id}) }}">
                            {{ 'actions.edit'|trans }}
                        </a>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-name="{{ player.firstname }} {{ player.lastname }}" data-target="#delete-modal" data-action="{{ path('player_delete' , {id:player.id}) }}" data-crsf="{{ csrf_token('delete' ~ player.id) }}">
                        {{ 'actions.delete'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="12">{{ 'nothing'|trans }}</td>
            </tr>
        {% endfor %}
        {{ pagination.display }}
    </div>

{% endblock %}

{% block javascripts %}

    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('back/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('back/vendor/datatables/dataTables.bootstrap4.js') }}"></script>

    <!-- Demo scripts for this page-->
    <script src="{{ asset('back/js/demo/datatables-demo.js') }}"></script>

{% endblock %}