{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'player.list'|trans }}{% endblock %}

{% block body %}
    <a class="btn btn-success" href="{{ path('player_new') }}">
        <i class="fas fa-fw fa-plus"></i>
        {{ 'player.add'|trans }}
    </a>
    <hr>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable">
            <thead>
                <tr>
                    <th>{{ 'player.name'|trans }}</th>
                    <th>{{ 'player.status'|trans }}</th>
                    <th>{{ 'player.date'|trans }}</th>
                    <th>{{ 'player.foot.name'|trans }}</th>
                    <th>{{ 'player.nationality'|trans }}</th>
                    <th>{{ 'actions.name'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.firstname }} {{ player.lastname }}</td>
                    <td>{{ player.getStatusName() }} </td>
                    <td>{{ player.dateBirth ? player.dateBirth|date('Y-m-d') : '' }} à {{ player.cityBirth }}</td>
                    <td>{% if player.foot == 0 %}
                            {{ 'player.foot.right'|trans }}
                        {% elseif player.foot == 1 %}
                            {{ 'player.foot.left'|trans }}
                        {% elseif player.foot == 2 %}
                            {{ 'player.foot.both'|trans }}
                        {% endif %}
                    </td>
                    <td><img src="https://www.countryflags.io/{{ player.nationality }}/flat/32.png"></td>
                    <td>
                        <a class="btn btn-success btn-sm" href="{{ path('player_show', {'id': player.id}) }}">{{ 'actions.show'|trans }}</a>
                        <a class="btn btn-info btn-sm" href="{{ path('player_edit', {'id': player.id}) }}">{{ 'actions.edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">{{ 'nothing'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}

    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('back/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('back/vendor/datatables/dataTables.bootstrap4.js') }}"></script>

    <!-- Demo scripts for this page-->
    <script src="{{ asset('back/js/demo/datatables-demo.js') }}"></script>

{% endblock %}