{% extends 'Back/base.html.twig' %}

{% block title %}Liste des joueurs{% endblock %}

{% block body %}
    <a class="btn btn-success" href="{{ path('player_new') }}">
        <i class="fas fa-fw fa-plus"></i>
        Ajouter un joueur
    </a>

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable">
            <thead>
                <tr>
                    <th>Joueur</th>
                    <th>DateBirth</th>
                    <th>Foot</th>
                    <th>Nationality</th>
                    <th>Archived</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.firstname }} {{ player.lastname }}</td>
                    <td>{{ player.dateBirth ? player.dateBirth|date('Y-m-d') : '' }}</td>
                    <td>{% if player.foot == 0 %} Droitier
                        {% elseif player.foot == 1 %} Gaucher
                        {% elseif player.foot == 2 %} Ambidextre
                        {% endif %}</td>
                    <td><img src="https://www.countryflags.io/{{ player.nationality }}/flat/32.png"></td>
                    <td>{{ player.archived ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('player_show', {'id': player.id}) }}">show</a>
                        <a href="{{ path('player_edit', {'id': player.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}

    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('back/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('back/vendor/datatables/dataTables.bootstrap4.js') }}"></script>

    <!-- Demo scripts for this page-->
    <script src="{{ asset('back/js/demo/datatables-demo.js') }}"></script>

{% endblock %}