{% extends 'Back/base.html.twig' %}

{% block title %}{{ player.firstname }} {{ player.lastname }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('player_index') }}">{{ 'player.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    <table class="table table-bordered table-striped ">
            <tbody>
            {% if player.imageName %}
                <tr>
                    <th>Image</th>
                    <td><img src="{{ vich_uploader_asset(player, 'imageFile') }}" alt="image" width="200"> </td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ 'player.status'|trans }}</th>
                <td>{{ player.getStatusName() }}</td>
            </tr>
            <tr>
                <th>{{ 'player.firstname'|trans }}</th>
                <td>{{ player.firstname }}</td>
            </tr>
            <tr>
                <th>{{ 'player.lastname'|trans }}</th>
                <td>{{ player.lastname }}</td>
            </tr>
            <tr>
                <th>{{ 'player.date'|trans }}</th>
                <td>{{ player.dateBirth ? player.dateBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'player.city'|trans }}</th>
                <td>{{ player.cityBirth }}</td>
            </tr>
            <tr>
                <th>{{ 'player.foot.name'|trans }}</th>

                <td>{% if player.foot == 0 %}
                        {{ 'player.foot.right'|trans }}
                    {% elseif player.foot == 1 %}
                        {{ 'player.foot.left'|trans }}
                    {% elseif player.foot == 2 %}
                        {{ 'player.foot.both'|trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'player.nationality'|trans }}</th>
                <td><img src="https://www.countryflags.io/{{ player.nationality }}/flat/32.png"></td>
            </tr>
            <tr>
                <th>{{ 'created_at'|trans }}</th>
                <td>{{ player.createdAt ? player.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'updated_at'|trans }}</th>
                <td>{{ player.updatedAt ? player.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'published'|trans }}</th>
                <td>{{ player.published ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <h3 class="text-center">Liste des matchs {{ player.getStatusName() == 'Joueur' ? 'joués' : 'arbitrés' }} </h3>

    <hr>

    <table class="table table-striped table-bordered" id="dataTable">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>{{ 'game.matchday'|trans }}</th>
            <th>{{ 'game.teamHome'|trans }}</th>
            <th>{{ 'game.teamAway'|trans }}</th>
            <th>{{ 'game.referee'|trans }}</th>
            <th>{{ 'game.competition'|trans }}</th>
            <th>{{ 'game.stadium'|trans }}</th>
            <th>{{ 'game.season'|trans }}</th>
            <th>{{ 'actions.name'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for game in player.games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.matchday }}</td>
                <td>{{ game.teamHome.name }}</td>
                <td>{{ game.teamAway.name }}</td>
                <td>{{ game.referee.firstname }}</td>
                <td>{{ game.competition.name }}</td>
                <td>{{ game.stadium.name }}</td>
                <td>{{ game.season.seasonYear }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('game_show', {'id': game.id}) }}">
                        {{ 'actions.show'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'player.nogames'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('player_index') }}">
        <i class="fas fa-fw fa-undo"></i>
        {{ 'back_list'|trans }}
    </a>

    <a class="btn btn-info" href="{{ path('player_edit', {'id': player.id}) }}">
        <i class="fas fa-fw fa-pen"></i>
        {{ 'player.edit'|trans }}
    </a>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-name="{{ player.firstname }} {{ player.lastname }}" data-target="#delete-modal" data-action="{{ path('player_delete' , {id:player.id}) }}" data-crsf="{{ csrf_token('delete' ~ player.id) }}">
        <i class="fas fa-fw fa-trash"></i>
        {{ 'actions.delete'|trans }}
    </button>
{% endblock %}
