{% extends 'Back/base.html.twig' %}

{% block title %}{{ player.firstname }} {{ player.lastname }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('player_index') }}">{{ 'player.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'player.firstname'|trans }}</th>
                <td>{{ player.firstname }}</td>
            </tr>
            <tr>
                <th>{{ 'player.lastname'|trans }}</th>
                <td>{{ player.lastname }}</td>
            </tr>
            <tr>
                <th>{{ 'player.date'|trans }}</th>
                <td>{{ player.dateBirth ? player.dateBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'player.city'|trans }}</th>
                <td>{{ player.cityBirth }}</td>
            </tr>
            <tr>
                <th>{{ 'player.foot.name'|trans }}</th>

                <td>{% if player.foot == 0 %}
                        {{ 'player.foot.right'|trans }}
                    {% elseif player.foot == 1 %}
                        {{ 'player.foot.left'|trans }}
                    {% elseif player.foot == 2 %}
                        {{ 'player.foot.both'|trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'player.nationality'|trans }}</th>
                <td><img src="https://www.countryflags.io/{{ player.nationality }}/flat/32.png"></td>
            </tr>
            <tr>
                <th>{{ 'created_at'|trans }}</th>
                <td>{{ player.createdAt ? player.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'updated_at'|trans }}</th>
                <td>{{ player.updatedAt ? player.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'published'|trans }}</th>
                <td>{{ player.published ? 'Yes' : 'No' }}</td>
            </tr>

            {% if player.imageName %}
                <tr>
                    <th>Image</th>
                    <td><img src="{{ vich_uploader_asset(player, 'imageFile') }}" alt="image"> </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('player_index') }}">{{ 'back_list'|trans }}</a>

    <a href="{{ path('player_edit', {'id': player.id}) }}">{{ 'player.edit'|trans }}</a>

    {{ include('Back/player/_delete_form.html.twig') }}
{% endblock %}
