<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Back-office du site {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {{ encore_entry_link_tags('back') }}

        {% block style %}{% endblock %}
    </head>
    <body>
        {{ include('Back/include/header.html.twig') }}
        <div id="wrapper">
            <!-- Sidebar -->
            {{ include('Back/include/menu.html.twig') }}

            <div id="content-wrapper">

                <div class="container-fluid">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_back_default_home') }}">Accueil</a>
                        </li>
                        {% block breadcrumb %}{% endblock %}
                        <li class="breadcrumb-item active">{{ block('title') }} </li>
                    </ol>

                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible fade show text-center" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}


                    {% block body %}{% endblock %}
                </div>
                <!-- /.container-fluid -->

                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © Sporty 2018</span>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Souhaitez-vous vous déconnecter ?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Etes-vous de vouloir quitter votre session ?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-primary" href="{{ path('user_logout') }}">Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>

        {{ include('Back/include/delete_modal.html.twig') }}

        {{ encore_entry_script_tags('back') }}

        <!-- Bootstrap core JavaScript-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="{{ asset('back/js/sb-admin.min.js') }}"></script>

        <script>

            $('#delete-modal').on('show.bs.modal', function (e) {

                console.log("hello");
                var action = $(e.relatedTarget).data('action');
                var crsf = $(e.relatedTarget).data('crsf');
                var name = $(e.relatedTarget).data('name');

                $(this).find('.modal-title span').text(name);
                $(this).find('form').attr('action' , action);
                $(this).find('form input[name="_token"]').val(crsf);
            });

        </script>

    {% block javascripts %}{% endblock %}
    </body>
</html>
