{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'clubteam.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('club_team_index') }}">{{ 'clubteam.name'|trans }}</a>
    </li>
{% endblock %}

{% block body %}

    {{ include('back/club_team/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('club_team_index') }}">{{ 'back_list'|trans }}</a>

    {{ include('back/club_team/_delete_form.html.twig') }}
{% endblock %}
