{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'clubteam.list'|trans }}{% endblock %}
{% block body %}
<a class="btn btn-success" href="{{ path('club_team_new') }}">
    <i class="fas fa-fw fa-plus"></i>
    {{ 'clubteam.add'|trans }}
</a>
<hr>
<div class="table-responsive">
    <table class="table table-striped table-bordered" id="dataTable">
        <thead class="thead-dark">
            <tr>
                <th>Club</th>
                <th>Section</th>
                <th>Year_creation</th>
                <th>Stadium</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club_team in club_teams %}
            <tr>
                <td>{{ club_team.club.name }} {{ club_team.team.name }}</td>
                <td>
                    {% if club_team.team.section == 0 %}
                        {{ 'men'|trans }}
                    {% elseif club_team.team.section == 1 %}
                        {{ 'women'|trans }}
                    {% endif %}
                </td>
                <td>{{ club_team.yearCreation }}</td>
                <td>{{ club_team.stadium.name }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('club_team_show', {'id': club_team.id}) }}">
                        {{ 'show'|trans }}
                    </a>
                    <a class="btn btn-info btn-sm" href="{{ path('club_team_edit', {'id': club_team.id}) }}">
                        {{ 'edit'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'club_team.nothing'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}

    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('back/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('back/vendor/datatables/dataTables.bootstrap4.js') }}"></script>

    <!-- Demo scripts for this page-->
    <script src="{{ asset('back/js/demo/datatables-demo.js') }}"></script>

{% endblock %}