{% extends 'Back/base.html.twig' %}
{% block title %}{{ club_team.club.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('club_team_index') }}">{{ 'clubteam.name'|trans }}</a>
    </li>
{% endblock %}
{% block body %}
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ club_team.club.id }}</td>
            </tr>
            <tr>
                <th>Id_team</th>
                <td>{{ club_team.team.id }}</td>
            </tr>
            <tr>
                <th>Year_creation</th>
                <td>{{ club_team.yearCreation }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ club_team.address }}</td>
            </tr>
            <tr>
                <th>Stadium</th>
                <td>{{ club_team.stadium.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('club_team_index') }}">
        <i class="fas fa-fw fa-undo"></i>
        Retourner a la liste
    </a>

    <a class="btn btn-info" href="{{ path('club_team_edit', {'id': club_team.id}) }}">
        <i class="fas fa-fw fa-pen"></i>
        Modifier
    </a>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-name="{{ club_team.club.name }}" data-target="#delete-modal" data-action="{{ path('club_team_delete' , {id:club_team.id}) }}" data-crsf="{{ csrf_token('delete' ~ club_team.id) }}">
        <i class="fa fa-trash"></i>&nbsp;&nbsp;Supprimer</span>
    </button>
{% endblock %}
